*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: "Manrope", "Arial", sans-serif;
  overflow-x: hidden;
  background: #1C1C1E;
}

ol,ul{
  list-style: none;
  padding: 0;
}

img{
  vertical-align: middle;
}

